
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Test.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>ilhan enes daniş web tasarımı dersleri ilhan enes daniş web tasarımı dersleri ilhan enes daniş web tasarımı dersleri ilhan enes daniş web tasarımı dersleri  </p>
        </div>
    </div>
</div>

